.contact-header{
    color: rgb(232, 227, 227);
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.738);
    padding: 15px;
    background-color: cornflowerblue;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 51, 75, 0.2) 0px -3px 0px inset;
}

.contact-me-box {
    background-color: rgb(247, 247, 247);
    padding: 10px;
    border: 1px solid rgb(220, 220, 220);
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .contact-header {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .contact-me-box {
        margin-bottom: 25px;
    }

    .services {
        margin-bottom: 25px;
    }

    .contact-details {
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .contact-header {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .contact-me-box {
        margin-bottom: 25px;
    }

    .services {
        margin-bottom: 25px;
    }

    .contact-details {
        margin-bottom: 25px;
    }
}


@media screen and (min-width: 300px) and (max-width: 575px) {
    /* Apply styling for screens between 300px and 575px */
    .contact-header {
        font-size: 20px;
    }

    .contact-me-box {
        margin-bottom: 25px;
    }

    .services {
        margin-bottom: 25px;
    }

  }
