.menu-link {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu-link-1 {
    color: rgb(255, 204, 0);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.736);
}

/* Set the default link styles */
.portfolio {
    color: rgb(255, 255, 255);
    font-weight: bold;
    
  }
  
.menu-link-2 {
    color: rgb(172, 172, 172);
    font-weight: bold;
    font-style: italic;
}

.nav-link:hover {
    color: aliceblue;
}

.navbar {
    background-color: rgb(108, 108, 108);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.logo-name{
    color: white;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}

.navbar-logo:hover {
    color: aliceblue;
}

.project-name {
    font-family: cursive;
    font-size: 25px;
    color: rgb(236, 236, 236);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.dropdown-menu {
    background-color: rgb(247, 247, 247);
}

.dropdown-toggle {
    color: white;
}

.dropdown {
    font-weight: bold;
    color: rgb(181, 181, 181);
}

@media screen and (min-width: 300px) and (max-width: 575px) {
    /* Apply styling for screens between 300px and 575px */
    .logo-name{
        font-size: 15px;
    }

    .project-name {
        font-size: 15px;
    }
  }